/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

body {
  background: #ffffff;
}

/* Typography
--------------------------------------------- */

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.6rem;
}

/* Elements
--------------------------------------------- */

/* Links
--------------------------------------------- */

a {
  color: #000000;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffffa2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0;
}

nav img {
  width: 3rem;
}

/* Main
--------------------------------------------- */

/* Footer
--------------------------------------------- */
