/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

body {
  background: #ffffff;
}

/* Typography
--------------------------------------------- */

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.6rem;
}

/* Elements
--------------------------------------------- */

/* Links
--------------------------------------------- */

a {
  color: #000000;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

.header-wrap {
  z-index: 1001;
}

@media (max-width: 800px) {
  .mobile-menu-wrap {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    min-width: none;
    position: fixed;
    top: 0;
    margin-top: 1rem;
    border-radius: 15%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .hamburger-menu img {
    width: 3rem;
    margin: 0 1.25rem;
  }

  .logo-mobile img {
    width: 3rem;
    margin: 0 2rem;
  }
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0.2rem;
  margin: -0.5rem;
}

nav ul li {
  padding: 1rem;
  letter-spacing: 0.5rem;
}

#japan-logo {
  display: hidden;
}

@media (min-width: 800px) {
  .mobile-menu-wrap {
    display: none;
  }

  nav,
  #nav-main {
    display: flex;
  }
  nav ul {
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;
    width: 150rem;
    max-width: 250rem;
  }
  #japan-logo {
    display: block;
  }
}

/* Keeps Menu centered on Large screens */
@media (min-width: 1440px) {
  nav ul {
    max-width: 1440px;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0;
  display: none;
  justify-content: space-around;
  z-index: 1000;
}

nav img {
  width: 3rem;
}

/* Main
--------------------------------------------- */

.sec-top-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.section-top h1 {
  font-size: 8rem;
  font-weight: 400;
  letter-spacing: 2rem;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  padding: 8rem 0 0 0;
}

.img-main {
  padding-top: 5rem;
  display: flex;
  filter: brightness(50%);
  padding-right: 2rem;
}

/* Footer
--------------------------------------------- */
